.sudo-logo::after {
  content: "";
  display: block;
  background-image: url("../assets/triangle-icon.png");
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.arc-gradient {
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  height: 240px;
  background: radial-gradient(circle at top right, #f7b9c4, #fff);
  clip-path: ellipse(100% 50% at 100% 0%);
  z-index: 0;
}

.ticket::before {
  content: "";
  position: absolute;
  top: 200px;
  right: 0;
}
