.icon-shakes {
  animation: jump-up 2s ease-in-out infinite;
}

.shake-animation {
  animation: bubble 1.6s ease-in-out infinite;
}

.text-blur {
  @apply font-inter text-gray-400;
}
/* .pagination {
  margin-top: 10px;
  background-color: red;
} */
/* .service .swiper {
  padding: 0 20px;
} */
.swiper-pagination-customer .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  background-color: rgb(250, 108, 207);
}

.slider-service .swiper-wrapper {
  @apply gap-x-[20px] flex justify-center items-center;
}

.slider-service .swiper-slide {
  @apply bg-white;
}

.swiper-pagination-customer .swiper-pagination-bullet-active {
  background-color: "rgb(248, 94, 159)";
}
@keyframes jump-up {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes bubble {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
